<div class="doctors-page">
	<div class="component-header">
		Our Doctors
	</div>

	<div class="search-bar">
		<input type="text" placeholder="Search doctor..." class="search-input">
		<button class="main-positive-btn">Search</button>
	</div>

	<div>
		<select id="specialization" name="specialization">
			<option disabled selected>by specialization</option>
			<option value="spec1">spec1</option>
			<option value="spec2">spec2</option>
			<option value="spec3">spec3</option>
		</select>
	</div>

	<div>
		<select id="office" name="office">
			<option disabled selected>by office</option>
			<option value="office1">office1</option>
			<option value="office2">office2</option>
			<option value="office3">office3</option>
		</select>
	</div>

	<button class="map-btn">
		<img ngSrc="/assets/icons/maps.svg" alt="maps icon" width="25" height="25">
		Office
	</button>

	<div class="doctors-grid">
		@for (doctor of doctors; track doctor.id) {
			<app-doctor-card [doctor]="doctor" [currentYear]="currentYear"></app-doctor-card>
		}
	</div>
</div>