.doctors-page {
	display: flex;
	flex-direction: column;
	padding: 0 0 20px 0;
}

.component-header {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.search-bar {
	background-color: var(--container-background-color);
	display: flex;
	margin-bottom: 20px;
	border-radius: 6px;
}

.search-input {
	flex: 1;
	background-color: var(--container-background-color);
	padding: 10px 14px;
	border: 1px solid var(--element-main-color);
	border-right: none !important;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	font-size: 1rem;
	color: var(--text-color-dark);
}

.search-input:focus {
	outline: none;
}

.search-btn {
	background-color: var(--container-background-color);
	padding: 10px 14px;
	border: 1px solid var(--element-main-color);
	border-left: none !important;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	font-size: 1rem;
	color: var(--text-color-dark);
	cursor: pointer;
}

.search-icon {
	width: 24px;
	height: 24px;
	color: var(--element-main-color);
}

.search-icon:active {
	transform: scale(0.95);
}

.filters {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;
	margin-bottom: 20px;
}

.map-btn {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	height: 40px;
	max-width: 200px;
	background-color: var(--container-background-color);
	padding: 4px;
	border: 1px solid var(--element-main-color);
	border-radius: 6px;
	font-size: 1rem;
	color: var(--text-color-dark);
	cursor: pointer;
	transition: background-color 0.2s, box-shadow 0.2s ease;
}

.map-btn:hover {
	background: color-mix(in srgb, var(--container-background-color) 90%, var(--element-accent-color));
	box-shadow: 0 2px 5px var(--default-btn-shadow-color-hover);
}

.map-btn:active {
	background: color-mix(in srgb, var(--container-background-color) 80%, var(--element-accent-color));
	box-shadow: 0 2px 5px var(--default-btn-shadow-color-active);
}

.map-icon {
	color: var(--element-main-color);
	height: 30px;
	width: 30px;
}

.map-btn-text {
	justify-content: center;
	align-items: center;
}

.doctors-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 20px;
}