## Rider-specific ##
.idea/
*.sublime-workspace

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## User-specific files ##
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet Packages ##
*.nupkg
*.snupkg
packages/
*.nuspec

## Visual Studio Code Coverage ##
*.coverage
*.coveragexml

## Logs and databases ##
*.log
*.sql
*.sqlite
*.db

## Temporary files ##
*.tmp
*.temp
*.bak
*.swp

## OS-specific ##
.DS_Store
Thumbs.db

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

## Rider caches ##
.idea/
*.iml

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Others ##
.vscode/
.env

.vs/InnoClinic/ColorByRegexConfig.txt

.vs/InnoClinic/config/applicationhost.config

.vs/InnoClinic/copilot-chat/034c003c/sessions/72562d74-af23-4e83-bb03-0a335356461e

.vs/InnoClinic/DesignTimeBuild/.dtbcache.v2

.vs/InnoClinic/FileContentIndex/8056f252-0d92-40d0-a873-fccea213b93a.vsidx

.vs/InnoClinic/FileContentIndex/8a14e628-89c5-49d4-b647-5304eab204f8.vsidx

.vs/InnoClinic/FileContentIndex/9edce43e-0536-4cf8-91d2-4d174e0547d7.vsidx

.vs/InnoClinic/FileContentIndex/a3b322a4-26bd-4ffa-ae1e-7cf8018d8a2d.vsidx

.vs/InnoClinic/FileContentIndex/db61379f-8165-4d1f-a954-243764ba2e6b.vsidx

.vs/InnoClinic/v17/.futdcache.v2

.vs/InnoClinic/v17/DocumentLayout.backup.json

.vs/InnoClinic/v17/DocumentLayout.json

.vs/InnoClinic/v17/TestStore/1/000.testlog

.vs/InnoClinic/v17/TestStore/1/testlog.manifest

.vs/ProjectEvaluation/innoclinic.metadata.v9.bin

.vs/ProjectEvaluation/innoclinic.projects.v9.bin

.vs/ProjectEvaluation/innoclinic.strings.v9.bin
