.office-photo {
	background: none;
	margin: 5px;
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
	border-radius: 8px;
}

.office-main-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	height: 360px;
}

.office-info-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	flex: 1;
}

.office-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 7px;
}

.office-status {
	display: flex;
	flex-direction: column;
	min-width: 70px;
	white-space: nowrap;
	accent-color: #3498db !important;
}

.status {
	color: #182d39;
	font-size: 1.1rem;
}

.main-positive-btn {
	margin-bottom: 10px;
}