.component-container {
	align-items: stretch;
}
.office-photo {
	background: none;
	margin: 5px;
	box-shadow: 0 0 4px var(--container-shadow-color);
	border-radius: 8px;
	width: 300px;
	max-height: 400px;
	min-height: 300px;
	overflow: hidden;
	display: inline-block;
}

.office-photo img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 8px;
}

.office-main-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
}

.office-info-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	flex: 1;
}

.office-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 7px;
}

.office-status {
	display: flex;
	flex-direction: column;
	min-width: 70px;
	white-space: nowrap;
	accent-color: var(--element-accent-color) !important;
}

.status {
	color: var(--text-color-dark);
	font-size: 1.1rem;
}

.main-positive-btn {
	margin-bottom: 5px;
}