@if (doctor && officeAddress) {
	<div class="doctor-card">
		<div class="doctor-avatar">
			@defer (when isReady())
			{
				<img [src]="photoUrl()" alt="doctor-photo" class="doctor-photo">
			}
		</div>
		<div class="doctor-info">
			<div class="component-header">
				Dr. {{ doctor.firstName }} {{ doctor.lastName }} {{ doctor.middleName }}
			</div>
			<div class="component-text">
				%SPECIALIZATION_PLACEHOLDER%<br>
				Experience: {{ experience }} @if(experience === 1){year}@else{years}<br>
				Office address: {{ officeAddress.city }},<br>
				{{ officeAddress.street }}, {{ officeAddress.houseNumber }}, office {{officeAddress.officeNumber }}
			</div>
		</div>
	</div>
}