.doctor-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	padding: 10px;
	background: var(--container-background-color);
	border-radius: 8px;
	box-shadow: 0 2px 4px var(--container-shadow-color);
	transition: transform 0.2s, box-shadow 0.2s;
}

.doctor-card:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 8px var(--container-shadow-color-hover);
}

.doctor-avatar {
	width: auto;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.doctor-photo {
	width: auto;
	height: 200px;
	border-radius: 4px;
	overflow: hidden;
}

.doctor-info {
	flex: 1;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: hidden;
	overflow-y: hidden;
}

.component-header {
	font-weight: bold;
	margin-bottom: 10px;
}