.table-container {
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 0 10px -5px var(--element-main-color);
	padding: 20px 15px 20px 15px;
	margin-top: 20px;
}

.custom-table {
	width: 100%;
	min-width: 100px;
	max-width: 100%;
}

.custom-table thead tr, .custom-table thead th {
	border-top: none;
	border-bottom: none !important;
}

.custom-table thead th {
	color: var(--element-main-color);
	text-align: left;
	font-size: 1.2rem;
	padding-left: 10px;
	padding-bottom: 5px;
}

.custom-table tbody tr:not(.spacer) {
	border-radius: 8px;
	overflow: hidden;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.custom-table tbody tr:not(.spacer):hover {
	box-shadow: 0 5px 8px 0 var(--office-table-row-shadow-color);
	transform: scale(1.02);
}

.custom-table tbody tr td {
	color: var(--text-color-dark);
	padding: 10px;
	font-size: 1.0rem;
	font-weight: 400;
	text-align: left;
	background: var(--container-background-color);
	border: none;
	border-radius: 8px;
	box-shadow: 0 0 10px -5px var(--office-table-row-shadow-color);
}

.custom-table tbody tr.spacer td {
	padding: 0 !important;
	height: 7px;
	border-radius: 0 !important;
	background: transparent !important;
}

.officeStatus {
	display: flex;
	min-width: 70px;
	white-space: nowrap;
}