<button class="main-positive-btn" (click)="createOffice()">Create office</button>
<div class="table-container">
	<table class="table custom-table">
		<thead>
		<tr>
			<th>Office address</th>
			<th>Registry Phone Number</th>
			<th>Status</th>
		</tr>
		</thead>
		<tbody>
			@for (office of offices; track office.id) {
				<tr (click)="openDialog(office)">
					<td>{{ office.address.city }}, {{ office.address.street }}, {{ office.address.houseNumber }},
						office {{ office.address.officeNumber }}
					</td>
					<td>{{ office.registryPhoneNumber }}</td>
					<td>
							@if(office.isActive){
								<div class="status">✅ Active</div>}

							@else{
								<div class="status">❌ Inactive</div>
							}
					</td>
				</tr>
				<tr class="spacer">
					<td colspan="100"></td>
				</tr>
			}
		</tbody>
	</table>
</div>