.table-container {
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 0 10px -5px #2c3e50;
	padding: 20px 15px 20px 15px;
	margin-top: 20px;
}

.custom-table {
	width: 100%;
	min-width: 100px;
	max-width: 100%;
}

.custom-table thead tr, .custom-table thead th {
	border-top: none;
	border-bottom: none !important;
}

.custom-table thead th {
	color: #2c3e50;
	text-align: left;
	font-size: 1.2rem;
	padding-left: 10px;
	padding-bottom: 5px;
}

.custom-table tbody tr:not(.spacer) {
	border-radius: 8px;
	overflow: hidden;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.custom-table tbody tr:not(.spacer):hover {
	box-shadow: 0 5px 8px 0 rgba(44, 62, 80, 0.5);
	transform: scale(1.02);
}

.custom-table tbody tr td {
	color: #1f2d38;
	padding: 10px;
	font-size: 1.0rem;
	font-weight: 400;
	text-align: left;
	background: white;
	border: none;
	border-radius: 8px;
	box-shadow: 0 0 10px -5px rgba(44, 62, 80, 0.5);
}

.custom-table tbody tr.spacer td {
	padding: 0 !important;
	height: 7px;
	border-radius: 0 !important;
	background: transparent !important;
}

.radioButtons {
	display: flex;
	flex-direction: column;
	min-width: 70px;
	white-space: nowrap;
	accent-color: #3498db !important;
}