<button class="createOffice-btn" (click)="createOffice()">Create office</button>
<div class="table-container">
	<table class="table custom-table">
		<thead>
		<tr>
			<th>Office address</th>
			<th>Registry Phone Number</th>
			<th>Status</th>
		</tr>
		</thead>
		<tbody>
			@for (office of offices; track office.id) {
				<tr (click)="openDialog(office)">
					<td>{{ office.address.city }}, {{ office.address.street }}, {{ office.address.houseNumber }},
						office {{ office.address.officeNumber }}
					</td>
					<td>{{ office.registryPhoneNumber }}</td>
					<td>
						<div class="radioButtons">
							<label>
								<input type="radio" value=true [checked]="office.isActive" name="{{ office.id }}" disabled>
								Active
							</label>
							<label>
								<input type="radio" value=false [checked]="!office.isActive" name="{{ office.id }}" disabled>
								Inactive
							</label>
						</div>
					</td>
				</tr>
				<tr class="spacer">
					<td colspan="100"></td>
				</tr>
			}
		</tbody>
	</table>
</div>